[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_stable_diffusion
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Krita Stable Diffusion Plugin
Comment=Run Stable Diffusion from within Krita